/target/
.vscode/
.settings/
./logs
.classpath
.project
*.gz
*.db
*.lock
*.project
*.factorypath
*.log

templates/fnsClient.conf
templates/fnsClient.prod.conf
CLIENT_CERT
initial_load_aixm.*

.DS_Store